language:
  - cpp

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

before_script:
  - sudo apt-get install libboost1.55-all-dev -y
  - mkdir build
  - cd build
  - cmake ..
  - src/bittubed --help
  - src/bittubed

script: make && make test
